<div class="container">
    <div class="text-left">
        <h1>@OscarMtzBot<h1>

        <table class="tables">
            <thead>
                    <tr>
                        <th>Comando   </th>
                        <th>Funcion</th>
                    </tr>
            </thead>

                    <tr>
                        <td>/soy Nombre   </td>
                        <td>Enviar mensaje de saludo</td>
                    </tr>
                    <tr>
                        <td>/foto   </td>
                        <td>Enviar Imagen</td>
                    </tr>
                    <tr>
                        <td>/location   </td>
                        <td>Enviar ubicación</td>
                    </tr>
                    <tr>
                        <td>/audio</td>
                        <td>Enviar audio</td>
                    </tr>

        </table>
    </div>
</div>